<a href="https://colab.research.google.com/github/mlacasa/NLTK/blob/main/C%C3%A0lcul_Contingency_Table_N_Grams_NLTK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Carreguem les llibreries
import nltk
nltk.download('all')
import pandas as pd
import gensim
from collections import Counter
import  re
from nltk import word_tokenize, pos_tag
from nltk import word_tokenize
from nltk.util import ngrams
from nltk.collocations import *
import re

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package alpino to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/alpino.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping
[nltk_data]    |       taggers/averaged_perceptron_tagger_ru.zip.
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/basque_grammars.zip.
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/biocreative_ppi.zip.
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/bllip_wsj_no_aux.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package brown_tei to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown_tei.zip.
[nltk_data]    | Downloading package cess_cat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_cat.zip.
[nltk_data]    | Downloading package cess_esp to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_esp.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/comparative_sentences.zip.
[nltk_data]    | Downloading package comtrans to /root/nltk_data...
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package conll2007 to /root/nltk_data...
[nltk_data]    | Downloading package crubadan to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/crubadan.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package dolch to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dolch.zip.
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/europarl_raw.zip.
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/extended_omw.zip.
[nltk_data]    | Downloading package floresta to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/floresta.zip.
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v15.zip.
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v17.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package indian to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/indian.zip.
[nltk_data]    | Downloading package jeita to /root/nltk_data...
[nltk_data]    | Downloading package kimmo to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/kimmo.zip.
[nltk_data]    | Downloading package knbc to /root/nltk_data...
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/large_grammars.zip.
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/lin_thesaurus.zip.
[nltk_data]    | Downloading package mac_morpho to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mac_morpho.zip.
[nltk_data]    | Downloading package machado to /root/nltk_data...
[nltk_data]    | Downloading package masc_tagged to /root/nltk_data...
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/moses_sample.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package mte_teip5 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mte_teip5.zip.
[nltk_data]    | Downloading package mwa_ppdb to /root/nltk_data...
[nltk_data]    |   Unzipping misc/mwa_ppdb.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package nombank.1.0 to /root/nltk_data...
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nonbreaking_prefixes.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw.zip.
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw-1.4.zip.
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/opinion_lexicon.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package paradigms to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/paradigms.zip.
[nltk_data]    | Downloading package pe08 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pe08.zip.
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping misc/perluniprops.zip.
[nltk_data]    | Downloading package pil to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pil.zip.
[nltk_data]    | Downloading package pl196x to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pl196x.zip.
[nltk_data]    | Downloading package porter_test to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/porter_test.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/problem_reports.zip.
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_1.zip.
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_2.zip.
[nltk_data]    | Downloading package propbank to /root/nltk_data...
[nltk_data]    | Downloading package pros_cons to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pros_cons.zip.
[nltk_data]    | Downloading package ptb to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ptb.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package qc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/qc.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package rslp to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/rslp.zip.
[nltk_data]    | Downloading package rte to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/rte.zip.
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/sample_grammars.zip.
[nltk_data]    | Downloading package semcor to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentence_polarity.zip.
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentiwordnet.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sinica_treebank.zip.
[nltk_data]    | Downloading package smultron to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/smultron.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/spanish_grammars.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/subjectivity.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package switchboard to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/switchboard.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package verbnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet.zip.
[nltk_data]    | Downloading package verbnet3 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet3.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wmt15_eval to /root/nltk_data...
[nltk_data]    |   Unzipping models/wmt15_eval.zip.
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/word2vec_sample.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet2021.zip.
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet31.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package ycoe to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ycoe.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection all

In [2]:
# Carreguem una dataset de Kaggle https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news

df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Mineria Textos/PAC1/all-data.csv',encoding = "ISO-8859-1", header=None,   names=['Sentiment','News'])

In [3]:
df.head()

  Sentiment                                               News
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [4]:
# Es un problema de classificaciÃ³
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [5]:
# No hi ha valors nulls
df.isna().sum()

Sentiment    0
News         0
dtype: int64

In [6]:
# Pasem news a un llistat

sentences = [st for st in df['News']]

# i els pasem a un sol tex amb minÃºscula

sentences = " ".join(sentences).lower()

In [7]:
# Tokenizer

tokens = [w for w in word_tokenize(sentences)]

In [8]:
# Filrem per stopwords i per signes de puntuaciÃ³.
from nltk.corpus import stopwords
stopwords_ = set(stopwords.words('english'))
tokens_clean = [word.lower() for word in tokens if word not in stopwords_]
tokens_clean = [w for w in tokens_clean if not re.match(r'\W',  w)]

In [9]:
# Etiquetem les paraules

tokens = nltk.pos_tag(tokens_clean)

In [10]:
# Exemple
tokens[:5]

[('according', 'VBG'),
 ('gran', 'NN'),
 ('company', 'NN'),
 ('plans', 'VBZ'),
 ('move', 'VBP')]

In [11]:
# Creo els objectes bigrams

from nltk import bigrams
bigram_measures = nltk.collocations.BigramAssocMeasures()

In [12]:
# Definim els bigrams del text
b = BigramCollocationFinder.from_words(tokens)

In [13]:
# NÂº paraules utilitzades.
b.word_fd.N()

63586

In [14]:
# FreqÃ¼Ã¨ncia relativa de cada bigram
b.score_ngrams(bigram_measures.raw_freq)[:10]

[((('net', 'JJ'), ('sales', 'NNS')), 0.003475607838203378),
 ((('operating', 'NN'), ('profit', 'NN')), 0.002704997955524801),
 ((('net', 'JJ'), ('profit', 'NN')), 0.001399679174661089),
 ((('said', 'VBD'), ('today', 'NN')), 0.0013524989777624005),
 ((('mln', 'NN'), ('euro', 'NN')), 0.001242411851665461),
 ((('per', 'IN'), ('share', 'NN')), 0.0011795049224672097),
 ((('corresponding', 'VBG'), ('period', 'NN')), 0.0011008712609693958),
 ((('mn', 'NN'), ('eur', 'NN')), 0.001085144528669833),
 ((('company', 'NN'), ('said', 'VBD')), 0.00106941779637027),
 ((('profit', 'NN'), ('eur', 'NN')), 0.0009436039379737678)]

Al llibre Foundations of Statistical Natural Language Processing\
Al tema 5\
Pel cÃ lcul de la mÃ¨trica PMI indica

Pointwise Mutual information (PMI) tÃ© com a fÃ³rmula:
$$PMI(a,b) = log_{2}\frac{P(a,b)}{P(a) P(b)}$$
on $a$ i $b$ son indepentents. A valors propers a 1 vol dir que la seva concurrensa Ã©s casual. Llavors el $log(1) = 0$ voldria dir que valors $PMI = 0$ la seva concurrÃ¨ncia Ã©s casual. 

Pero els resultats no quadren aixÃ­ que mirem la [documentaciÃ³ oficial](https://www.nltk.org/_modules/nltk/metrics/association.html) per veure la fÃ³rmula emprada:

```
    @classmethod
    def pmi(cls, *marginals):
        """Scores ngrams by pointwise mutual information, as in Manning and
        Schutze 5.4.
        """
        return _log2(marginals[NGRAM] * marginals[TOTAL] ** (cls._n - 1)) - _log2(
            _product(marginals[UNIGRAMS])
        )

```
I la funciÃ³ likelihood_ratio Ã©s:


```
    def likelihood_ratio(cls, *marginals):
        """Scores ngrams using likelihood ratios as in Manning and Schutze 5.3.4."""
        cont = cls._contingency(*marginals)
        return 2 * sum(
            obs * _ln(obs / (exp + _SMALL) + _SMALL)
            for obs, exp in zip(cont, cls._expected_values(cont))
        )

```
on 



```
class BigramAssocMeasures(NgramAssocMeasures)
 |  A collection of bigram association measures. Each association measure
 |  is provided as a function with three arguments::
 |  
 |      bigram_score_fn(n_ii, (n_ix, n_xi), n_xx)
 |  
 |  The arguments constitute the marginals of a contingency table, counting
 |  the occurrences of particular events in a corpus. The letter i in the
 |  suffix refers to the appearance of the word in question, while x indicates
 |  the appearance of any word. Thus, for example:
 |  
 |      n_ii counts (w1, w2), i.e. the bigram being scored
 |      n_ix counts (w1, *)
 |      n_xi counts (*, w2)
 |      n_xx counts (*, *), i.e. any bigram
 |  
 |  This may be shown with respect to a contingency table::
 |  
 |              w1    ~w1
 |           ------ ------
 |       w2 | n_ii | n_oi | = n_xi
 |           ------ ------
 |      ~w2 | n_io | n_oo |
 |           ------ ------
 |           = n_ix        TOTAL = n_xx
 |  
```

On si fem les traduccions:

$$marginals[NGRAM] = n_{ii}$$
$$marginals[TOTAL] = n_{xx}$$
$$marginals[UNIGRAMS] = (n_{xi}, n_{ix})$$

In [15]:
# No he trobat manera de calcular les contingÃ¨ncies, perÃ² les podem calcular a mÃ .
# Utilitzem les dades de freqÃ¼Ã¨ncies relatives per calcular les freqÃ¼Ã¨ncies absolutes
df1= pd.DataFrame(b.score_ngrams(bigram_measures.raw_freq))
df1.head()

                                 0         1
0        ((net, JJ), (sales, NNS))  0.003476
1  ((operating, NN), (profit, NN))  0.002705
2        ((net, JJ), (profit, NN))  0.001400
3       ((said, VBD), (today, NN))  0.001352
4          ((mln, NN), (euro, NN))  0.001242

In [16]:
df1['w1'] = [x[0][0] for x in df1.iloc[:,0]]
df1['w1type'] = [x[0][1] for x in df1.iloc[:,0]]
df1['w2'] = [x[1][0] for x in df1.iloc[:,0]]
df1['w2type'] = [x[1][1] for x in df1.iloc[:,0]]
df1.head()

                                 0         1         w1 w1type      w2 w2type
0        ((net, JJ), (sales, NNS))  0.003476        net     JJ   sales    NNS
1  ((operating, NN), (profit, NN))  0.002705  operating     NN  profit     NN
2        ((net, JJ), (profit, NN))  0.001400        net     JJ  profit     NN
3       ((said, VBD), (today, NN))  0.001352       said    VBD   today     NN
4          ((mln, NN), (euro, NN))  0.001242        mln     NN    euro     NN

In [17]:
# Calculem les mÃ¨triques del primer bigram - (net, sales)
# Si fem w1 = (net, JJ) i w2 = (sales, NNS)
df1[df1['w1'] == 'net']

                                   0         1   w1 w1type          w2 w2type
0          ((net, JJ), (sales, NNS))  0.003476  net     JJ       sales    NNS
2          ((net, JJ), (profit, NN))  0.001400  net     JJ      profit     NN
14           ((net, JJ), (loss, NN))  0.000739  net     JJ        loss     NN
53         ((net, NN), (sales, NNS))  0.000393  net     NN       sales    NNS
211      ((net, JJ), (interest, NN))  0.000157  net     JJ    interest     NN
611        ((net, JJ), (income, NN))  0.000079  net     JJ      income     NN
916        ((net, NN), (profit, NN))  0.000063  net     NN      profit     NN
4021         ((net, JJ), (cash, NN))  0.000031  net     JJ        cash     NN
33005        ((net, JJ), (debt, NN))  0.000016  net     JJ        debt     NN
33006  ((net, JJ), (investment, NN))  0.000016  net     JJ  investment     NN
33007     ((net, JJ), (losses, NNS))  0.000016  net     JJ      losses    NNS
33008   ((net, JJ), (operating, NN))  0.000016  net     JJ   operating     NN
33009  ((net, JJ), (production, NN))  0.000016  net     JJ  production     NN
33010     ((net, JJ), (smelter, NN))  0.000016  net     JJ     smelter     NN
33011    ((net, JJ), (turnover, NN))  0.000016  net     JJ    turnover     NN
33012        ((net, NN), (cash, NN))  0.000016  net     NN        cash     NN
33013   ((net, NN), (combined, VBN))  0.000016  net     NN    combined    VBN

In [18]:
# Per la cerca necessitem exigir que w1type sigui JJ
df1[(df1['w1'] == 'net') & (df1['w1type'] == 'JJ')]

                                   0         1   w1 w1type          w2 w2type
0          ((net, JJ), (sales, NNS))  0.003476  net     JJ       sales    NNS
2          ((net, JJ), (profit, NN))  0.001400  net     JJ      profit     NN
14           ((net, JJ), (loss, NN))  0.000739  net     JJ        loss     NN
211      ((net, JJ), (interest, NN))  0.000157  net     JJ    interest     NN
611        ((net, JJ), (income, NN))  0.000079  net     JJ      income     NN
4021         ((net, JJ), (cash, NN))  0.000031  net     JJ        cash     NN
33005        ((net, JJ), (debt, NN))  0.000016  net     JJ        debt     NN
33006  ((net, JJ), (investment, NN))  0.000016  net     JJ  investment     NN
33007     ((net, JJ), (losses, NNS))  0.000016  net     JJ      losses    NNS
33008   ((net, JJ), (operating, NN))  0.000016  net     JJ   operating     NN
33009  ((net, JJ), (production, NN))  0.000016  net     JJ  production     NN
33010     ((net, JJ), (smelter, NN))  0.000016  net     JJ     smelter     NN
33011    ((net, JJ), (turnover, NN))  0.000016  net     JJ    turnover     NN

In [19]:
# PerÃ² net pot ser a la columna w2?
df1[(df1['w2'] == 'net') & (df1['w2type'] == 'JJ')]

                                  0         1         w1 w1type   w2 w2type
51         ((today, NN), (net, JJ))  0.000409      today     NN  net     JJ
70      ((expects, VBZ), (net, JJ))  0.000299    expects    VBZ  net     JJ
102        ((said, VBD), (net, JJ))  0.000252       said    VBD  net     JJ
146     ((reports, NNS), (net, JJ))  0.000204    reports    NNS  net     JJ
184       ((profit, NN), (net, JJ))  0.000173     profit     NN  net     JJ
...                             ...       ...        ...    ...  ...    ...
48253       ((usd1, JJ), (net, JJ))  0.000016       usd1     JJ  net     JJ
48480    ((vaisala, JJ), (net, JJ))  0.000016    vaisala     JJ  net     JJ
48711     ((versus, NN), (net, JJ))  0.000016     versus     NN  net     JJ
49208  ((wednesday, JJ), (net, JJ))  0.000016  wednesday     JJ  net     JJ
50189        ((yit, JJ), (net, JJ))  0.000016        yit     JJ  net     JJ

[169 rows x 6 columns]

In [20]:
#Hem de tenir en compte les dues possibilitats
df1[(df1['w1'] == 'net') & (df1['w1type'] == 'JJ') | (df1['w2'] == 'net') & (df1['w2type'] == 'JJ')]

                                  0         1         w1 w1type      w2 w2type
0         ((net, JJ), (sales, NNS))  0.003476        net     JJ   sales    NNS
2         ((net, JJ), (profit, NN))  0.001400        net     JJ  profit     NN
14          ((net, JJ), (loss, NN))  0.000739        net     JJ    loss     NN
51         ((today, NN), (net, JJ))  0.000409      today     NN     net     JJ
70      ((expects, VBZ), (net, JJ))  0.000299    expects    VBZ     net     JJ
...                             ...       ...        ...    ...     ...    ...
48253       ((usd1, JJ), (net, JJ))  0.000016       usd1     JJ     net     JJ
48480    ((vaisala, JJ), (net, JJ))  0.000016    vaisala     JJ     net     JJ
48711     ((versus, NN), (net, JJ))  0.000016     versus     NN     net     JJ
49208  ((wednesday, JJ), (net, JJ))  0.000016  wednesday     JJ     net     JJ
50189        ((yit, JJ), (net, JJ))  0.000016        yit     JJ     net     JJ

[182 rows x 6 columns]

In [21]:
# Ara podem calcular les freqÃ¼Ã¨ncies relatives de:
# 1- P(w1,w2) = n_ii = marginals[NGRAM]

n_ii = df1.iloc[0,1]
n_ii

0.003475607838203378

In [22]:
# TamnbÃ© podem calcular la freÃ¼Ã¨ncia relativa de P(w1,*) que Ã©s:
# 2- P(w1,*) = n_ix = marginals[UNIGRAM] perÃ² un dels dos elements.
# sumem la columna de les freq relatives de l'anterior consulta.
n_xi = df1[(df1['w1'] == 'net') & (df1['w1type'] == 'JJ') | (df1['w2'] == 'net') & (df1['w2type'] == 'JJ')].iloc[:,1].sum()
n_xi

0.011983770012266848

In [23]:
# Ara hem de calcular n_ix amb la paraula (sales,NNS)
n_ix = df1[(df1['w1'] == 'sales') & (df1['w1type'] == 'NNS') | (df1['w2'] == 'sales') & (df1['w2type'] == 'NNS')].iloc[:,1].sum()
n_ix

0.014248419463403893

In [24]:
# Ara ens queda calcular el total. HipÃ²tesi, la Ãºltima fila de df1 Ã©s de freqÃ¼Ã¨ncia absoluta 1.
b.apply_freq_filter(2) # bf contÃ© tots els bigrams amb freqÃ¼Ã¨ncia min 2

In [25]:
# a bf no son la freqÃ¼Ã¨ncia 1, si la meva hipÃ²tesis Ã©s correcte, hi haurÃ  menys files a la dataframe:

df2= pd.DataFrame(b.score_ngrams(bigram_measures.raw_freq))
df2.head()

                                 0         1
0        ((net, JJ), (sales, NNS))  0.003476
1  ((operating, NN), (profit, NN))  0.002705
2        ((net, JJ), (profit, NN))  0.001400
3       ((said, VBD), (today, NN))  0.001352
4          ((mln, NN), (euro, NN))  0.001242

In [26]:
print('Sense filtrar hi ha : ',df1.shape[0],' bigrams analitzats i filtrats (eliminem freq 1): ',df2.shape[0])

Sense filtrar hi ha :  50264  bigrams analitzats i filtrats (eliminem freq 1):  5296

aixÃ² vol dir que 45.000 de 50.000 bigrams tenen freqÃ¼Ã¨ncia absoluta 1.

In [27]:
df1.iloc[6000:6010,:]

,0,1,w1,w1type,w2,w2type
6000,"((133.4, CD), (kroner, NN))",0.000016,133.4,CD,kroner,NN
6001,"((134, CD), (million, CD))",0.000016,134,CD,million,CD
6002,"((134, CD), (mln, NN))",0.000016,134,CD,mln,NN
6003,"((134,700, CD), (company, NN))",0.000016,"134,700",CD,company,NN
6004,"((135, CD), (million, CD))",0.000016,135,CD,million,CD
6005,"((135, CD), (sek, NN))",0.000016,135,CD,sek,NN
6006,"((135-gram, JJ), (model, NN))",0.000016,135-gram,JJ,model,NN
6007,"((135.7, CD), (mn, NN))",0.000016,135.7,CD,mn,NN
6008,"((137, CD), (million, CD))",0.000016,137,CD,million,CD
6009,"((137.3, CD), (given, VBN))",0.000016,137.3,CD,given,VBN

In [28]:
# Llavors podem calcular la freqÃ¼Ã¨ncia absoluta total (la que ens manca) per calcular les freqÃ¼Ã¨ncies absolutes totals.

n_xx = 1/df1.iloc[6000,1]
n_xx

63586.0

In [29]:
# Ara podem copmletar les freqÃ¼Ã¨ncies absolutes

n_ii = n_ii * n_xx
n_ix = n_ix * n_xx
n_xi = round(n_xi * n_xx,0)

In [30]:
print('marginals[TOTAL] = ',n_xx, ' marginals[NGRAM] = ',n_ii,' marginals[UNIGRAM] = (',n_ix,',',n_xi,')')

marginals[TOTAL] =  63586.0  marginals[NGRAM] =  221.0  marginals[UNIGRAM] = ( 906.0 , 762.0 )

In [31]:
# CÃ lcul PMI

b = BigramCollocationFinder.from_words(tokens)

In [32]:
df_pmi = pd.DataFrame(b.score_ngrams(bigram_measures.pmi))

In [33]:
df_pmi.head()

                                   0          1
0           ((0.31, CD), (emsa, NN))  15.956422
1           ((03-04, JJ), (xvi, JJ))  15.956422
2  ((03.02.2011, CD), (unimilk, JJ))  15.956422
3    ((04.01.2006, CD), (13.00, CD))  15.956422
4           ((0762, CD), (shse, NN))  15.956422

In [34]:
df_pmi['w1'] = [x[0][0] for x in df_pmi.iloc[:,0]]
df_pmi['w1type'] = [x[0][1] for x in df_pmi.iloc[:,0]]
df_pmi['w2'] = [x[1][0] for x in df_pmi.iloc[:,0]]
df_pmi['w2type'] = [x[1][1] for x in df_pmi.iloc[:,0]]
df_pmi.head()

,0,1,w1,w1type,w2,w2type
0,"((0.31, CD), (emsa, NN))",15.956422,0.31,CD,emsa,NN
1,"((03-04, JJ), (xvi, JJ))",15.956422,03-04,JJ,xvi,JJ
2,"((03.02.2011, CD), (unimilk, JJ))",15.956422,03.02.2011,CD,unimilk,JJ
3,"((04.01.2006, CD), (13.00, CD))",15.956422,04.01.2006,CD,13.00,CD
4,"((0762, CD), (shse, NN))",15.956422,0762,CD,shse,NN

In [35]:
df_pmi[(df_pmi['w1'] == 'net') & (df_pmi['w2'] == 'sales') ]

                               0         1   w1 w1type     w2 w2type
35730  ((net, NN), (sales, NNS))  6.822714  net     NN  sales    NNS
37740  ((net, JJ), (sales, NNS))  6.347310  net     JJ  sales    NNS

In [36]:
# El nostre bigram tÃ© un PMI calculat de 6.347310

Recordem la fÃ³rmula

```
    @classmethod
    def pmi(cls, *marginals):
        """Scores ngrams by pointwise mutual information, as in Manning and
        Schutze 5.4.
        """
        return _log2(marginals[NGRAM] * marginals[TOTAL] ** (cls._n - 1)) - _log2(
            _product(marginals[UNIGRAMS])
        )

```

Que aixÃ², expresat amb les igualtats seria:

$$log_{2}(n_{ii} n_{xx}^{(cls.n -1)}) - log_{2} ( n_{ix} n_{xi} )$$

Pointwise Mutual information (PMI) tÃ© com a fÃ³rmula:
$$PMI(a,b) = log_{2}\frac{P(a,b)}{P(a) P(b)}$$

Si per PMI $csl.n = 0$, llavors:

$$log_{2}(n_{ii} n_{xx}^{-1}) - log_{2} ( n_{ix} n_{xi} )$$
Operando:
$$log_{2}(\frac{n_{ii}}{n_{xx} n_{ix}n_{xi}})$$

In [39]:
from math import log
x = n_ii/(n_xx * n_ix * n_xi)
x

5.034398611478128e-09

In [40]:
# No coincideix
log(x, 2)

-27.56553340386885

Recordem la de Likelihood
```
    def likelihood_ratio(cls, *marginals):
        """Scores ngrams using likelihood ratios as in Manning and Schutze 5.3.4."""
        cont = cls._contingency(*marginals)
        return 2 * sum(
            obs * _ln(obs / (exp + _SMALL) + _SMALL)
            for obs, exp in zip(cont, cls._expected_values(cont))
        )

```

No entenc la fÃ³rmula

Al llibre de Maning, (5.10) diu:

$$L(k,n,x) = x^{k}(1-x)^{n-k}$$

Y la fÃ³rmula Ã©s:

$$logL(c_{12}, c_{1}, p) + logL (c_{2} - c_{12}, N - c_{1}, p) - logL(c_{12}, c_{1}, p_{1}) + logL (c_{2} - c_{12}, N - c_{1}, p_{2})$$

i tenint en compte que la probabilitat que la paraula w2 estigui en el corpus Ã©s:

$$p =\frac{c_{2}}{N}$$
$$p_{1} =\frac{c_{12}}{c_{1}}$$
$$p_{2} =\frac{c_{2} - c_{12}}{N - c_{1}}$$

I $c_{1}$ Ã©s el nombre de cops de la prarula $w_{1}$, i aixÃ­ succesivament.

In [ ]:
_